In [1]:
import re
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.linear_model import SGDClassifier


from sklearn.pipeline import Pipeline

from sklearn.metrics import classification_report, hamming_loss, accuracy_score, zero_one_loss , coverage_error , label_ranking_loss , label_ranking_average_precision_score 

warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore')

Mounted at /content/gdrive

In [ ]:
data = '/content/drive/gdrive/MyDrive/cardio_clean'

In [ ]:
data

'/content/drive/gdrive/MyDrive/cardio_clean'

In [2]:
import io

from google.colab import files
uploaded = files.upload()

Saving cardio_cleaned.csv to cardio_cleaned.csv

In [3]:
cardio = pd.read_csv(io.BytesIO(uploaded['cardio_cleaned.csv']))
cardio

,age,height,weight,systolic_bp,diastolic_bp,target,gender_female,gender_male,cholesterol_high,cholesterol_normal,cholesterol_very_high,glucose_high,glucose_normal,glucose_very_high,smoking_no,smoking_yes,alcohol_intake_no,alcohol_intake_yes,physical_activity_no,physical_activity_yes
0,50,168,62.0,110,80,0,0,1,0,1,0,0,1,0,1,0,1,0,0,1
1,55,156,85.0,140,90,1,1,0,0,0,1,0,1,0,1,0,1,0,0,1
2,51,165,64.0,130,70,1,1,0,0,0,1,0,1,0,1,0,1,0,1,0
3,48,169,82.0,150,100,1,0,1,0,1,0,0,1,0,1,0,1,0,0,1
4,47,156,56.0,100,60,0,1,0,0,1,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60137,53,172,70.0,130,90,1,1,0,0,1,0,0,1,0,1,0,1,0,0,1
60138,57,165,80.0,150,80,1,1,0,0,1,0,0,1,0,1,0,1,0,0,1
60139,52,168,76.0,120,80,0,0,1,0,1,0,0,1,0,0,1,1,0,0,1
60140,61,163,72.0,135,80,1,1,0,0,1,0,1,0,0,1,0,1,0,1,0
60141,56,170,72.0,120,80,0,1,0,1,0,0,0,1,0,1,0,1,0,0,1

In [4]:
cardio.drop(['gender_male'], axis = 1, inplace = True)
cardio.drop(['smoking_no'], axis = 1, inplace = True)
cardio.drop(['physical_activity_yes'], axis = 1, inplace = True)
cardio.drop(['alcohol_intake_yes'], axis = 1, inplace = True)

In [5]:
data = cardio.rename(columns={"gender_female": "gender", "smoking_yes": "smoking", "physical_activity_no": "physical_activity", "alcohol_intake_no": "alcohol_intake"})

In [6]:
X = data.drop("target", axis=1)
X

,age,height,weight,systolic_bp,diastolic_bp,gender,cholesterol_high,cholesterol_normal,cholesterol_very_high,glucose_high,glucose_normal,glucose_very_high,smoking,alcohol_intake,physical_activity
0,50,168,62.0,110,80,0,0,1,0,0,1,0,0,1,0
1,55,156,85.0,140,90,1,0,0,1,0,1,0,0,1,0
2,51,165,64.0,130,70,1,0,0,1,0,1,0,0,1,1
3,48,169,82.0,150,100,0,0,1,0,0,1,0,0,1,0
4,47,156,56.0,100,60,1,0,1,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60137,53,172,70.0,130,90,1,0,1,0,0,1,0,0,1,0
60138,57,165,80.0,150,80,1,0,1,0,0,1,0,0,1,0
60139,52,168,76.0,120,80,0,0,1,0,0,1,0,1,1,0
60140,61,163,72.0,135,80,1,0,1,0,1,0,0,0,1,1
60141,56,170,72.0,120,80,1,1,0,0,0,1,0,0,1,0

In [7]:
y = data[["target"]]
Y = data["target"]
y

       target
0           0
1           1
2           1
3           1
4           0
...       ...
60137       1
60138       1
60139       0
60140       1
60141       0

[60142 rows x 1 columns]

In [8]:
X_d=X.to_dict('dict')
Y_d=y.to_dict('dict')

In [9]:
!pip install river

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting river
  Downloading river-0.10.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 8.4 MB/s
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from river) (1.4.1)
Requirement already satisfied: pandas>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from river) (1.3.5)
Requirement already satisfied: numpy>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from river) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.1->river) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.1->river) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.1->river) (1.15.0)
Installing collected packages: river
Successfully installed river-0.10.1

In [11]:
from sklearn import datasets, metrics
from river import stream,compose,metrics
from river import linear_model
from river import optim
from river import preprocessing

model = compose.Pipeline(
    preprocessing.StandardScaler(),
    linear_model.LogisticRegression( optim.SGD(lr=0.01) )
    )
metric = metrics.ROCAUC()

for xi, yi in stream.iter_pandas(X, y):
    yi = yi['target']
    # Test the current model on the new "unobserved" sample
    yi_pred = model.predict_proba_one(xi)

    # Update the running metric with the prediction and ground truth value
    metric.update(yi, yi_pred)

    # Train the model with the new sample
    model.learn_one(xi, yi)

print(f'ROC AUC: {metric}')

ROC AUC: ROCAUC: 77.14%

Ensemble Learning

In [12]:
from sklearn import model_selection
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [14]:
kfold = model_selection.KFold(n_splits=10)
cart = DecisionTreeClassifier()
num_trees = 100
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=7)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.6887366800823017

Let's see what you did in the above cell.

First, you initialized a 10-fold cross-validation fold. After that, you instantiated a Decision Tree Classifier with 100 trees and wrapped it in a Bagging-based Ensemble. Then you evaluated your model.

You model performed pretty well. It yielded an accuracy of 68,87%.

Brilliant! Let's implement the other ones.

In [17]:
# AdaBoost Classification

from sklearn.ensemble import AdaBoostClassifier
seed = 7
num_trees = 70
kfold = model_selection.KFold(n_splits=10)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.7226397508058918

In this case, you did an AdaBoost classification (with 70 trees) which is based on Boosting type of Ensembling. The model gave you an accuracy of 72,26% for 10-fold cross-validation.

Finally, it's time for you to implement the Voting-based Ensemble technique.

In [18]:
# Voting Ensemble for Classification

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

kfold = model_selection.KFold(n_splits=10)
# create the sub models
estimators = []
model1 = LogisticRegression()
estimators.append(('logistic', model1))
model2 = DecisionTreeClassifier()
estimators.append(('cart', model2))
model3 = SVC()
estimators.append(('svm', model3))
# create the ensemble model
ensemble = VotingClassifier(estimators)
results = model_selection.cross_val_score(ensemble, X, Y, cv=kfold)
print(results.mean())

0.7168533853261757

Pitfalls of Ensemble Learning
In general, it is not true that it will always perform better. There are several ensemble methods, each with its own advantages/weaknesses. Which one to use and then depends on the problem at hand.

For example, if you have models with high variance (they over-fit your data), then you are likely to benefit from using bagging. If you have biased models, it is better to combine them with Boosting. There are also different strategies to form ensembles. The topic is just too broad to cover it in one answer.

But the point is: if you use the wrong ensemble method for your setting, you are not going to do better. For example, using Bagging with a biased model is not going to help.

Also, if you need to work in a probabilistic setting, ensemble methods may not work either. It is known that Boosting (in its most popular forms like AdaBoost) delivers poor probability estimates. That is, if you would like to have a model that allows you to reason about your data, not only classification, you might be better off with a graphical model.

So, in this post, you got introduced to Ensemble learning technique. You covered its basics, how it improves your model's performance. You covered its three main types.

Also, you implemented these three types in Python with the help of scikit-learn, and in this course of action, you gained a bit of knowledge about the necessary preprocessing steps.

That's quite a feat! Well done! In this final section, I suggest some further undertakings on Ensembles which you might want to consider.